<div class="sidebar border">
  <div class="font-weight-bold text">Model based data extraction</div>
  <div class="text">Lorem Ipsum</div>

  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-interval="false"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active colorCarousel"
      ></li>
      <li
        class="colorCarousel"
        data-target="#carouselExampleIndicators"
        data-slide-to="1"
      ></li>
      <li
        class="colorCarousel"
        data-target="#carouselExampleIndicators"
        data-slide-to="2"
      ></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id="accordion" class="pt-4">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Wather levels
                  <svg
                    width="30px"
                    height="30px"
                    viewBox="0 0 16 16"
                    class="bi bi-chevron-compact-down ml-5"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"
                    />
                  </svg>
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div class="radio">
                  <label
                    ><input
                      type="radio"
                      name="optradio"
                      class="mr-2"
                      checked
                    />bla bla bla</label
                  >
                  <svg
                    width="20px"
                    height="20px"
                    viewBox="0 0 16 16"
                    class="bi bi-info-circle margin"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                      d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"
                    />
                    <circle cx="8" cy="4.5" r="1" />
                  </svg>
                  <div class="ml-3">
                    asdasdasdas <br />
                    asdasdsadas <br />
                    asdasdsadas <br />
                  </div>
                </div>
                <hr />
                <div class="radio">
                  <label
                    ><input type="radio" name="optradio" class="mr-2" />bla bla
                    bla</label
                  >
                  <svg
                    width="20px"
                    height="20px"
                    viewBox="0 0 16 16"
                    class="bi bi-info-circle margin"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                      d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"
                    />
                    <circle cx="8" cy="4.5" r="1" />
                  </svg>
                  <div class="ml-3">
                    asdasdasdas <br />
                    asdasdsadas <br />
                    asdasdsadas <br />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  LoremIpsum
                  <svg
                    width="30px"
                    height="30px"
                    viewBox="0 0 16 16"
                    class="bi bi-chevron-compact-down ml-5"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"
                    />
                  </svg>
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div class="radio">
                  <label
                    ><input
                      type="radio"
                      name="optradio1"
                      class="mr-2"
                      checked
                    />bla bla bla</label
                  >
                  <div class="ml-3">
                    asdasdasdas <br />
                    asdasdsadas <br />
                    asdasdsadas <br />
                  </div>
                </div>
                <hr />
                <div class="radio">
                  <label
                    ><input type="radio" name="optradio1" class="mr-2" />bla bla
                    bla</label
                  >
                  <div class="ml-3">
                    asdasdasdas <br />
                    asdasdsadas <br />
                    asdasdsadas <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">TEKST2</div>
      <div class="carousel-item">TEKST3</div>
    </div>
  </div>

  <div class="d-flex justify-content-around">
    <button
      class="btn btn-outline-primary mt-5 wdt"
      href="#carouselExampleIndicators"
      data-slide="prev"
    >
      Back
    </button>
    <button
      class="btn btn-primary next mt-5 wdt"
      href="#carouselExampleIndicators"
      data-slide="next"
    >
      Next
    </button>
  </div>
</div>
